<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.AreaProductBeanMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.AreaProductBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="isdel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, area_id, createdtime, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bt_area_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bt_area_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.AreaProductBean" >
    insert into bt_area_product (id, product_id, area_id, 
      createdtime, isdel)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.AreaProductBean" >
    insert into bt_area_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.AreaProductBean" >
    update bt_area_product
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.AreaProductBean" >
    update bt_area_product
    set product_id = #{productId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>