<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.CuserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.CuserInfo" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="business_licence" property="businessLicence" jdbcType="VARCHAR" />
    <result column="business_licence_verify" property="businessLicenceVerify" jdbcType="TINYINT" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_code_verify" property="orgCodeVerify" jdbcType="TINYINT" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, business_licence, business_licence_verify, org_code, org_code_verify, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bt_cuser_info
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bt_cuser_info
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.CuserInfo" >
    insert into bt_cuser_info (uid, business_licence, business_licence_verify, 
      org_code, org_code_verify, updatetime
      )
    values (#{uid,jdbcType=INTEGER}, #{businessLicence,jdbcType=VARCHAR}, #{businessLicenceVerify,jdbcType=TINYINT}, 
      #{orgCode,jdbcType=VARCHAR}, #{orgCodeVerify,jdbcType=TINYINT}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.CuserInfo" >
    insert into bt_cuser_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="businessLicence != null" >
        business_licence,
      </if>
      <if test="businessLicenceVerify != null" >
        business_licence_verify,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgCodeVerify != null" >
        org_code_verify,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="businessLicence != null" >
        #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceVerify != null" >
        #{businessLicenceVerify,jdbcType=TINYINT},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeVerify != null" >
        #{orgCodeVerify,jdbcType=TINYINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.CuserInfo" >
    update bt_cuser_info
    <set >
      <if test="businessLicence != null" >
        business_licence = #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceVerify != null" >
        business_licence_verify = #{businessLicenceVerify,jdbcType=TINYINT},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeVerify != null" >
        org_code_verify = #{orgCodeVerify,jdbcType=TINYINT},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.CuserInfo" >
    update bt_cuser_info
    set business_licence = #{businessLicence,jdbcType=VARCHAR},
      business_licence_verify = #{businessLicenceVerify,jdbcType=TINYINT},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_code_verify = #{orgCodeVerify,jdbcType=TINYINT},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>