<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.CuserRebateMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.CuserRebate" >
    <id column="apply_id" property="applyId" jdbcType="BIGINT" />
    <result column="inviter_id" property="inviterId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="muserid" property="muserid" jdbcType="INTEGER" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
    <result column="rebate_status" property="rebateStatus" jdbcType="TINYINT" />
    <result column="rebate_time" property="rebateTime" jdbcType="TIMESTAMP" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    apply_id, inviter_id, uid, muserid, rebate, rebate_status, rebate_time, createdtime, 
    remark, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bt_cuser_rebate
    where apply_id = #{applyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bt_cuser_rebate
    where apply_id = #{applyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.CuserRebate" >
    insert into bt_cuser_rebate (apply_id, inviter_id, uid, 
      muserid, rebate, rebate_status, 
      rebate_time, createdtime, remark, 
      isdel)
    values (#{applyId,jdbcType=BIGINT}, #{inviterId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, 
      #{muserid,jdbcType=INTEGER}, #{rebate,jdbcType=DECIMAL}, #{rebateStatus,jdbcType=TINYINT}, 
      #{rebateTime,jdbcType=TIMESTAMP}, #{createdtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.CuserRebate" >
    insert into bt_cuser_rebate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="inviterId != null" >
        inviter_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="muserid != null" >
        muserid,
      </if>
      <if test="rebate != null" >
        rebate,
      </if>
      <if test="rebateStatus != null" >
        rebate_status,
      </if>
      <if test="rebateTime != null" >
        rebate_time,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=BIGINT},
      </if>
      <if test="inviterId != null" >
        #{inviterId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="muserid != null" >
        #{muserid,jdbcType=INTEGER},
      </if>
      <if test="rebate != null" >
        #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebateStatus != null" >
        #{rebateStatus,jdbcType=TINYINT},
      </if>
      <if test="rebateTime != null" >
        #{rebateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.CuserRebate" >
    update bt_cuser_rebate
    <set >
      <if test="inviterId != null" >
        inviter_id = #{inviterId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="muserid != null" >
        muserid = #{muserid,jdbcType=INTEGER},
      </if>
      <if test="rebate != null" >
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebateStatus != null" >
        rebate_status = #{rebateStatus,jdbcType=TINYINT},
      </if>
      <if test="rebateTime != null" >
        rebate_time = #{rebateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=BIT},
      </if>
    </set>
    where apply_id = #{applyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.CuserRebate" >
    update bt_cuser_rebate
    set inviter_id = #{inviterId,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      muserid = #{muserid,jdbcType=INTEGER},
      rebate = #{rebate,jdbcType=DECIMAL},
      rebate_status = #{rebateStatus,jdbcType=TINYINT},
      rebate_time = #{rebateTime,jdbcType=TIMESTAMP},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=BIT}
    where apply_id = #{applyId,jdbcType=BIGINT}
  </update>
</mapper>