<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.MuserMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.Muser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="logopath" property="logopath" jdbcType="VARCHAR" />
    <result column="ap_name" property="apName" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="islock" property="islock" jdbcType="BIT" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wchat" property="wchat" jdbcType="VARCHAR" />
    <result column="weibo" property="weibo" jdbcType="VARCHAR" />
    <result column="last_log_time" property="lastLogTime" jdbcType="TIMESTAMP" />
    <result column="last_log_ip" property="lastLogIp" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="reg_ip" property="regIp" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_type, user_name, user_pass, logopath, ap_name, mail, islock, telephone, 
    qq, wchat, weibo, last_log_time, last_log_ip, reg_time, reg_ip, update_time, update_ip, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bt_muser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bt_muser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.Muser" >
    insert into bt_muser (id, user_type, user_name, 
      user_pass, logopath, ap_name, 
      mail, islock, telephone, 
      qq, wchat, weibo, last_log_time, 
      last_log_ip, reg_time, reg_ip, 
      update_time, update_ip, remark
      )
    values (#{id,jdbcType=INTEGER}, #{userType,jdbcType=TINYINT}, #{userName,jdbcType=VARCHAR}, 
      #{userPass,jdbcType=VARCHAR}, #{logopath,jdbcType=VARCHAR}, #{apName,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{islock,jdbcType=BIT}, #{telephone,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{wchat,jdbcType=VARCHAR}, #{weibo,jdbcType=VARCHAR}, #{lastLogTime,jdbcType=TIMESTAMP}, 
      #{lastLogIp,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, #{regIp,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateIp,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.Muser" >
    insert into bt_muser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPass != null" >
        user_pass,
      </if>
      <if test="logopath != null" >
        logopath,
      </if>
      <if test="apName != null" >
        ap_name,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="islock != null" >
        islock,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="wchat != null" >
        wchat,
      </if>
      <if test="weibo != null" >
        weibo,
      </if>
      <if test="lastLogTime != null" >
        last_log_time,
      </if>
      <if test="lastLogIp != null" >
        last_log_ip,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="regIp != null" >
        reg_ip,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateIp != null" >
        update_ip,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="logopath != null" >
        #{logopath,jdbcType=VARCHAR},
      </if>
      <if test="apName != null" >
        #{apName,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        #{islock,jdbcType=BIT},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wchat != null" >
        #{wchat,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="lastLogTime != null" >
        #{lastLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogIp != null" >
        #{lastLogIp,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regIp != null" >
        #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateIp != null" >
        #{updateIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.Muser" >
    update bt_muser
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="logopath != null" >
        logopath = #{logopath,jdbcType=VARCHAR},
      </if>
      <if test="apName != null" >
        ap_name = #{apName,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        islock = #{islock,jdbcType=BIT},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wchat != null" >
        wchat = #{wchat,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        weibo = #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="lastLogTime != null" >
        last_log_time = #{lastLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogIp != null" >
        last_log_ip = #{lastLogIp,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regIp != null" >
        reg_ip = #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateIp != null" >
        update_ip = #{updateIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.Muser" >
    update bt_muser
    set user_type = #{userType,jdbcType=TINYINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      logopath = #{logopath,jdbcType=VARCHAR},
      ap_name = #{apName,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      islock = #{islock,jdbcType=BIT},
      telephone = #{telephone,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wchat = #{wchat,jdbcType=VARCHAR},
      weibo = #{weibo,jdbcType=VARCHAR},
      last_log_time = #{lastLogTime,jdbcType=TIMESTAMP},
      last_log_ip = #{lastLogIp,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      reg_ip = #{regIp,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_ip = #{updateIp,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>