<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.ProductLoanMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.ProductLoan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="rela_bank" property="relaBank" jdbcType="VARCHAR" />
    <result column="loan_type" property="loanType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="loan_rate_high" property="loanRateHigh" jdbcType="VARCHAR" />
    <result column="loan_rate_low" property="loanRateLow" jdbcType="VARCHAR" />
    <result column="loan_rate" property="loanRate" jdbcType="VARCHAR" />
    <result column="muserid" property="muserid" jdbcType="INTEGER" />
    <result column="verify_muserid" property="verifyMuserid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="verify_time" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="loan_limit_low" property="loanLimitLow" jdbcType="INTEGER" />
    <result column="loan_limit_top" property="loanLimitTop" jdbcType="INTEGER" />
    <result column="client_sum" property="clientSum" jdbcType="INTEGER" />
    <result column="sort_value" property="sortValue" jdbcType="INTEGER" />
    <result column="needguaranty" property="needguaranty" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pname, rela_bank, loan_type, status, descript, loan_rate_high, loan_rate_low, loan_rate, 
    muserid, verify_muserid, createdtime, modify_time, verify_time, contact, loan_limit_low, 
    loan_limit_top, client_sum, sort_value, needguaranty
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bt_product_loan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bt_product_loan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.ProductLoan" >
    insert into bt_product_loan (id, pname, rela_bank, 
      loan_type, status, descript, loan_rate_high, 
      loan_rate_low, loan_rate, muserid, 
      verify_muserid, modify_time, 
      verify_time, contact, loan_limit_low, 
      loan_limit_top, client_sum, sort_value, 
      needguaranty)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{relaBank,jdbcType=VARCHAR}, 
      #{loanType,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{descript,jdbcType=VARCHAR}, 
      #{loanRateHigh,jdbcType=VARCHAR}, #{loanRateLow,jdbcType=VARCHAR}, #{loanRate,jdbcType=VARCHAR}, 
      #{muserid,jdbcType=INTEGER}, #{verifyMuserid,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{verifyTime,jdbcType=TIMESTAMP}, #{contact,jdbcType=VARCHAR}, #{loanLimitLow,jdbcType=INTEGER}, 
      #{loanLimitTop,jdbcType=INTEGER}, #{clientSum,jdbcType=INTEGER}, #{sortValue,jdbcType=INTEGER}, 
      #{needguaranty,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.ProductLoan" >
    insert into bt_product_loan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="relaBank != null" >
        rela_bank,
      </if>
      <if test="loanType != null" >
        loan_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="descript != null" >
        descript,
      </if>
      <if test="loanRateHigh != null" >
        loan_rate_high,
      </if>
      <if test="loanRateLow != null" >
        loan_rate_low,
      </if>
      <if test="loanRate != null" >
        loan_rate,
      </if>
      <if test="muserid != null" >
        muserid,
      </if>
      <if test="verifyMuserid != null" >
        verify_muserid,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="verifyTime != null" >
        verify_time,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="loanLimitLow != null" >
        loan_limit_low,
      </if>
      <if test="loanLimitTop != null" >
        loan_limit_top,
      </if>
      <if test="clientSum != null" >
        client_sum,
      </if>
      <if test="sortValue != null" >
        sort_value,
      </if>
      <if test="needguaranty != null" >
        needguaranty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="relaBank != null" >
        #{relaBank,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null" >
        #{loan_type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="loanRateHigh != null" >
        #{loanRateHigh,jdbcType=VARCHAR},
      </if>
      <if test="loanRateLow != null" >
        #{loanRateLow,jdbcType=VARCHAR},
      </if>
      <if test="loanRate != null" >
        #{loanRate,jdbcType=VARCHAR},
      </if>
      <if test="muserid != null" >
        #{muserid,jdbcType=INTEGER},
      </if>
      <if test="verifyMuserid != null" >
        #{verifyMuserid,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="loanLimitLow != null" >
        #{loanLimitLow,jdbcType=INTEGER},
      </if>
      <if test="loanLimitTop != null" >
        #{loanLimitTop,jdbcType=INTEGER},
      </if>
      <if test="clientSum != null" >
        #{clientSum,jdbcType=INTEGER},
      </if>
      <if test="sortValue != null" >
        #{sortValue,jdbcType=INTEGER},
      </if>
      <if test="needguaranty != null" >
        #{needguaranty,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.ProductLoan" >
    update bt_product_loan
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="relaBank != null" >
        rela_bank = #{relaBank,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null" >
        loan_type = #{loanType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="loanRateHigh != null" >
        loan_rate_high = #{loanRateHigh,jdbcType=VARCHAR},
      </if>
      <if test="loanRateLow != null" >
        loan_rate_low = #{loanRateLow,jdbcType=VARCHAR},
      </if>
      <if test="loanRate != null" >
        loan_rate = #{loanRate,jdbcType=VARCHAR},
      </if>
      <if test="muserid != null" >
        muserid = #{muserid,jdbcType=INTEGER},
      </if>
      <if test="verifyMuserid != null" >
        verify_muserid = #{verifyMuserid,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyTime != null" >
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="loanLimitLow != null" >
        loan_limit_low = #{loanLimitLow,jdbcType=INTEGER},
      </if>
      <if test="loanLimitTop != null" >
        loan_limit_top = #{loanLimitTop,jdbcType=INTEGER},
      </if>
      <if test="clientSum != null" >
        client_sum = #{clientSum,jdbcType=INTEGER},
      </if>
      <if test="sortValue != null" >
        sort_value = #{sortValue,jdbcType=INTEGER},
      </if>
      <if test="needguaranty != null" >
        needguaranty = #{needguaranty,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.ProductLoan" >
    update bt_product_loan
    set pname = #{pname,jdbcType=VARCHAR},
      rela_bank = #{relaBank,jdbcType=VARCHAR},
      loan_type = #{loanType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      descript = #{descript,jdbcType=VARCHAR},
      loan_rate_high = #{loanRateHigh,jdbcType=VARCHAR},
      loan_rate_low = #{loanRateLow,jdbcType=VARCHAR},
      loan_rate = #{loanRate,jdbcType=VARCHAR},
      muserid = #{muserid,jdbcType=INTEGER},
      verify_muserid = #{verifyMuserid,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      contact = #{contact,jdbcType=VARCHAR},
      loan_limit_low = #{loanLimitLow,jdbcType=INTEGER},
      loan_limit_top = #{loanLimitTop,jdbcType=INTEGER},
      client_sum = #{clientSum,jdbcType=INTEGER},
      sort_value = #{sortValue,jdbcType=INTEGER},
      needguaranty = #{needguaranty,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>