<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwang.banktax.dao.UserAttachtMapper" >
  <resultMap id="BaseResultMap" type="com.baiwang.banktax.beans.UserAttacht" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="apply_id" property="applyId" jdbcType="BIGINT" />
    <result column="batch_id" property="batchId" jdbcType="BIGINT" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="attach_note" property="attachNote" jdbcType="VARCHAR" />
    <result column="attach_type" property="attachType" jdbcType="TINYINT" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="attachurl" property="attachurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, apply_id, batch_id, createdtime, attach_note, attach_type, attachment, 
    attachurl
  </sql>
  <select id="selectById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from bt_user_attacht
    where id = #{id,jdbcType=BIGINT} and userid = #{uid,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bt_user_attacht
    where id = #{id,jdbcType=BIGINT}
  </select>
   <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.baiwang.banktax.beans.UserAttacht" >
    select 
    <include refid="Base_Column_List" /> 
    from bt_user_attacht
    where apply_id = #{applyId,jdbcType=BIGINT} and attach_type=#{attachType,jdbcType=TINYINT}
  </select>
  <select id="selectByBatchId" resultType="com.baiwang.banktax.beans.UserAttacht" >
    select 
    <include refid="Base_Column_List" />
    from bt_user_attacht
    where batch_id = #{batchId,jdbcType=BIGINT} and userid = #{uid,jdbcType=BIGINT}
  </select>
  <select id="selectTypesById" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    SELECT COUNT(*) from (select apply_id,attach_type from bt_user_attacht WHERE 
    apply_id=#{applyId,jdbcType=BIGINT} AND attach_type != -1 
     GROUP BY attach_type) cc
  </select>
  <select id="selectByIdType" resultType="com.baiwang.banktax.beans.UserAttacht" >
   select 
    <include refid="Base_Column_List" />
    from bt_user_attacht
    where apply_id = #{applyid,jdbcType=BIGINT} and attach_type = #{attachType,jdbcType=TINYINT} and userid = #{uid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByType" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from bt_user_attacht
    where 1=1
   	<if test="applyid != null" >
         and apply_id = #{applyid,jdbcType=BIGINT}
    </if>
    <if test="attachType != null" >
         and attach_type = #{attachType,jdbcType=TINYINT}
    </if>
    order by createdtime desc limit 1
    </select>
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bt_user_attacht
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByBatchId" parameterType="java.lang.Long" >
    delete from bt_user_attacht
    where batch_id = #{batchId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baiwang.banktax.beans.UserAttacht"  useGeneratedKeys="true" keyProperty="id">
    insert into bt_user_attacht (userid, apply_id, 
      batch_id, createdtime, attach_note, 
      attach_type, attachment, attachurl
      )
    values ( #{userid,jdbcType=BIGINT}, #{applyId,jdbcType=BIGINT}, 
      #{batchId,jdbcType=BIGINT}, #{createdtime,jdbcType=TIMESTAMP}, #{attachNote,jdbcType=VARCHAR}, 
      #{attachType,jdbcType=TINYINT}, #{attachment,jdbcType=VARCHAR}, #{attachurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiwang.banktax.beans.UserAttacht" >
    insert into bt_user_attacht
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="attachNote != null" >
        attach_note,
      </if>
      <if test="attachType != null" >
        attach_type,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="attachurl != null" >
        attachurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachNote != null" >
        #{attachNote,jdbcType=VARCHAR},
      </if>
      <if test="attachType != null" >
        #{attachType,jdbcType=TINYINT},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="attachurl != null" >
        #{attachurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwang.banktax.beans.UserAttacht" >
    update bt_user_attacht
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=BIGINT},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachNote != null" >
        attach_note = #{attachNote,jdbcType=VARCHAR},
      </if>
      <if test="attachType != null" >
        attach_type = #{attachType,jdbcType=TINYINT},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="attachurl != null" >
        attachurl = #{attachurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwang.banktax.beans.UserAttacht" >
    update bt_user_attacht
    set userid = #{userid,jdbcType=BIGINT},
      apply_id = #{applyId,jdbcType=BIGINT},
      batch_id = #{batchId,jdbcType=BIGINT},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      attach_note = #{attachNote,jdbcType=VARCHAR},
      attach_type = #{attachType,jdbcType=TINYINT},
      attachment = #{attachment,jdbcType=VARCHAR},
      attachurl = #{attachurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>