
/*forgetpassword*/
.forget{ width:998px; border:1px solid #d2d2d2; background:#fff; margin:70px auto 135px; height:420px;}
.forget_con{ width:383px; margin:0 auto; height:420px;}
.forget_con h3{ font-size:24px; color:#000; text-align:center; font-weight:normal; padding:34px 0 36px;}
.forget_con input{ width:363px; height:46px; padding-left:18px; border:1px solid #d2d2d2; line-height:46px; color:#5b5b5b; font-size:18px;}
.forget_con .prompt{ height:22px; padding-top:6px; color:#ff0000;}
.forget_con .sub_btn{ display:block; width:383px; height:46px; background:#b88c52; color:#fff; text-align:center; line-height:46px; font-size:24px; border-radius:10px; margin-top:22px;}
.forget_con .hg{ height:88px;}
.forget_con .hg a { border:1px solid #d2d2d2; width:135px; height:48px; line-height:48px; float:right; background-color:#f5f5f5; display:inline-block; text-align:center; color:#333; font-size:14px; text-decoration:underline;}
.forget_con .text{ text-align:center; color:#656565; padding-top:10px;}
/*findpassword*/
.find{ width:420px;}
.find .find_con{ font-size:18px; padding:5px 0 0 56px; background:url(../../images/common/find.jpg) no-repeat left top; margin-top:40px;}
.find .find_con p{ color:#656565; height:32px;}
.find .find_con a{ color:#ff0000; text-decoration:underline;}










