body { margin:0; padding:0; font-family:"微软雅黑", "Microsoft YaHei UI Light"; text-align:center; /* 兼容ie5div 居中 */}
.backgroud{background:url(../../images/login/loginbg.jpg) no-repeat center 74px ; }
.wrap_629 { width:629px; margin:0 auto;  padding:50px 0 60px 0 ;}
.content {
  background-color:#fff;
  -moz-opacity:0.85;  
  -khtml-opacity: 0.85;  
  opacity: 0.85;
  filter:Alpha(opacity=85);/* 只支持IE6、7、8、9 */
  position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
  *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */ 
  text-align:left; /* 兼容ie5 */
  }
.content form {padding:10px 120px 69px 120px; margin: 0;}
.form-item{ border:1px solid #d2d2d2; background-color:#fff;padding:0 18px; font-size:18px; color:#5b5b5b;}
.form-item input  { border:0; height:56px; line-height:56px; font-size:18px; width:250px;  }
input:focus{outline:0;}
.form-item label  { border:none; height:56px; line-height:56px; font-size:18px; width:90px; display:inline-block; float:left;}
.yzm { padding-right:0;}
.yzm img { border-left:1px solid #d2d2d2; width:105px; height:58px; float:right; background-color:#f5f5f5; display:inline-block;}
.username { margin:100px 0 28px 0;}
.info { height:32px; line-height:32px;}
.info a { text-decoration:none; color:#5400ff; font-size:14px; float:right;}
.info a:hover{cursor:pointer;text-decoration:underline}
.info span { color:#F00; font-size:12px;}
.login_button { margin-top:30px;}
.login_button a { background-color:#b88c52; display:block; height:56px; line-height:56px; border-radius:3px; text-align:center;  color:#fff; font-size:24px; text-decoration:none;}
.login_button a:hover { background-color:#cda167;}
.footer { color:#757575; font-size:12px; height:36px; line-height:36px; text-align:center;  padding-bottom:30px; }

/*注册页面样式*/
.regist_info { font-size:12px; color:#656565; text-align:center;  padding:35px 0 15px 0;}
/**/
.choose{ border:0; height:45px; padding:10px 120px 0 120px;}
.choose label:first-child{ width:190px;}

